.post__body {
  display: flex;
  width: 48vw;
  margin: 20px;
  padding: 30px;
  background: linear-gradient(to bottom, rgba(5,4,4, 0.8), transparent);
  /* height: 34vh; */
}

.post__picture {
  border-style: solid;
  border-color: white;
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.post__caption {
  margin: 20px;
}