
.channel {
  width: 20vw;
  height: 66vh;
  /* margin: 20px; */
  padding: 20px;
  background: linear-gradient(to bottom, rgba(5,4,4, 0.7), transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 25px; */
  opacity: 1;
  text-align: center;
  color: lightsteelblue;
  /* overflow-y: scroll; */

}


.profile__picture {
  height: 12vw;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;
}