.channelvideo__body {
  height: 35vh;
  margin: 20px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(5,4,4, 0.2) 20%, transparent 60%);
  color: lightsteelblue;
}