.latestvideo__body {
  width: 56vw;
  /* height: 30vh; */
  /* margin-top: 20px; */
  margin: 20px;
  /* margin-left: 5px; */
  padding: 20px;
  /* background-color: white; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video__header {
  display: flex;
  flex-direction: column;
  /* justify-content: center; 
  align-items: center; */
  margin-bottom: 15px;
}

.video__header > h2 {
  /* text-align: center; */
  color: lightsteelblue;
  font-size: 48px;
}

.video__header > h1 {
  color: pink;
}

.video__description {
  padding: 15px;
  /* background: rgba(76, 175, 80, 0.3); */
  color: lightsteelblue;
  font-size: 24px;
  letter-spacing: 2px;
  /* display: none; */
}

.video__player { 
  width: 50vw;
  /* height: 40vh; */
  display: flex;
  justify-content: center;
  margin: auto;
  opacity: 0.7;
}

.video__player__playing { 
  width: 50vw;
  /* height: 40vh; */
  display: flex;
  justify-content: center;
  margin: auto;
  opacity: 1;
}

@keyframes video-fade-in {
  0% {opacity: 0.7;}
  50% {opacity: 0.9;}
  100% {opacity: 1;}
}

.video__player:hover {
  animation: video-fade-in 0.4s;
  opacity: 1;
}

