.results__userBody {
  border-style: none;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.results__userAvatar {
  margin: auto;
  display: flex;
  justify-content: center;

}

.results__userTitle {
  display: inline-block;
  white-space: nowrap;
  width: 215px;
  margin: auto;
  margin-top: -15px;
  text-align: center;
  font-size: 20px;
  overflow: wrap;
  text-overflow: ellipsis;
}