.results__userBody {
  border-style: none;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  color: lightsteelblue;
}

.results__userBody:hover {
  cursor: pointer;
  background-color: black;
}

.results__userBody__selected { 
  border-style: none;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  background-color: black;
  color: pink;
}

.results__userAvatar {
  margin: 5px;
  display: flex;
  justify-content: center;

}

.results__userTitle {
  width: 10vw;
  margin: 20px;
  text-align: center;
  font-size: 14px;
  word-wrap: normal;
}