.player__body {
  display: flex;
}

.main__body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 0.8;
  color: white;
  padding: 30px;
  background: linear-gradient(rgb(91,87, 115), rgba(0, 0, 0, 1));
  overflow-y: overlay;
}

.main__body::-webkit-scrollbar {
  display: none;
}

.main__header {
  margin-bottom: 20px;
}

.search__body {
  display: flex;
}

.searchResults__body {
  margin: 20px;
  margin-bottom: 85px;
  height: 80vh;
  width: 45vw;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(5,4,4, 0.4), transparent 50%);
  /* background-color: black; */
}

.spotifySearchResults__body {
  height: 20vh;
  margin: 10px;
  margin-bottom: 25px;
  display: flex;
  overflow-x: scroll;
}

.youtubeSearchResults__body {
  height: 325px;
  margin: 10px;
  margin-bottom: 25px;
  display: flex;
  overflow-x: scroll;
}

.instagramSearchResults__body {
  height: 325px;
  margin: 10px;
  margin-bottom: 25px;
  display: flex;
  overflow-x: scroll;
}