.results__itemBody {
  border-style: none;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 15vw;
  height: 19vw;
}

.results__itemBody:hover {
  cursor: pointer;
  background-color: black;
}

.results__itemAvatar {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.results__itemInfo {
  display: inline-block;
  white-space: nowrap;
  width: 10vw; 
  margin: auto;
  margin-top: 2px;
  text-align: center;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
