.post {
  /* width: 48vw; */
  margin: 20px;
  padding: 20px;
  background: linear-gradient(to bottom, rgba(5,4,4, 0.8) 30%, transparent );
}

.post__header {
  font-size: 24px;
  color: pink;
  margin-bottom: 20px;
}

.post__body {
  display: flex;
  /* height: 34vh; */
}

.post__picture {
  border-style: solid;
  border-color: white;
  width: 600px;
  height: 600px;
  object-fit: contain;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.post__caption {
  margin: 20px;
  color: pink;
}

.post__caption > p {
  margin-bottom: 20px;
}

.post__caption > hr {
  margin-bottom: 10px;
}

.post__timestamp {
  display: flex;
  justify-content: flex-end;
}