.posts_library {
  margin: 20px;
  margin-left: -20px;
  margin-bottom: 40px;
  padding: 30px;
  background: linear-gradient(to top, rgba(5,4,4, 0.4) 30%, transparent );
  color: lightsteelblue;
  display: flex;
  flex-direction: column;
}

.posts_library_header {
  margin-bottom: 15px;
}

.posts_library_body {
  margin: auto;
  margin-bottom: 20px;
  width: 64vw;
  height: 40vh;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
}

.posts_library_body::-webkit-scrollbar {
  display: none;
}

