.latestalbum__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}

.latestalbum__info > img {
  height: 20vw;
  margin: 0 20px;
  border-radius: 15px 40px 15px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

img:hover {
  cursor: pointer;
  opacity: 0.5;
}

.latestalbum__infoText {
  flex: 1;
}

.latestalbum__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
  color: lightsteelblue;
}

.latestalbum__infoText > h2:hover {
  cursor: pointer;
  color: pink;
}

.latestalbum__playButton {
  font-size: 100px !important; 
}

.latestalbum__playButton:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}


