.results__body {
  height: 325px;
  margin: 10px;
  margin-bottom: 25px;
  display: flex;
  overflow-x: scroll;
}

.results__itemBody {
  border-style: none;
  border-radius: 25px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.results__itemAvatar {
  margin: auto;
  display: flex;
  justify-content: center;
}

.results__itemInfo {
  display: inline-block;
  white-space: nowrap;
  width: 215px; 
  margin: auto;
  text-align: center;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
