.footer { 
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  bottom: 0;
  width: 100%;
}

.rswp__toggle {
  outline: none;
}

button[aria-label="Next Track"] {
  outline: none;
}

button[aria-label="Previous Track"] {
  outline: none;
}

._VolumeRSWP > button {
  outline: none;
}

._DevicesRSWP > button {
  outline: none;
}