.sidebar {
  height: 100vh;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  flex: 0.2;
  min-width: 230px;
  background-color: #040404;
}

.logo {
  text-decoration: underline;
  text-shadow: 5px 5px 100px white;
  font-size: 24px;
  margin: 20px;
}


