.sidebarOption {
  display: flex;
  align-items: center;
  color: gray;
  height: 50px;
  cursor: pointer;
  transition: 200ms color ease-in;
  margin-left: 30px;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption__icon {
  padding-right: 10px;
}
