.album__cover > img {
  height: 15vw;
  margin: 0 20px;
  border-radius: 15px 40px 15px;
}

.album__cover:hover {
  cursor: pointer;
  transition: 200ms transform ease-in; 
  transform: scale(1.12);
}
@keyframes fade-in {
  0% {opacity: 0;}
  25% {opacity: 0.25;}
  50% {opacity: 0.5;}
  75% {opacity: 0.75;}
  100% {opacity: 1;}
}

.album__cover:hover + .album__Info {
  animation: fade-in 1.5s;
  opacity: 1;
}



.album__Info {
  width: 15vw;
  color: lightsteelblue;
  text-align: center;
  margin: 20px 20px 20px;
  opacity: 0;
}

