.spotify__default {
  margin-left: 20px;
  text-shadow: 2px 2px 20px #000000;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 10px;
}
.body__infoText {
  flex: 1;
}
.body__infoText > h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.body__infoText > p {
  font-size: 14px;
}
.body__info > img {
  height: 20vw;
  margin: 0 20px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.body__icons {
  display: flex;
  align-items: center;
}
.body__icons > .MuiSvgIcon-root {
  margin-right: 20px;
}
.body__shuffle {
  font-size: 80px !important;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.body__shuffle:hover {
  transition: 100ms transform ease-in;
  transform: scale(1.08);
}
.body__songs {
  margin: 20px -5px;
  margin-bottom: 25px;
  padding-top: 20px;
  /* background: linear-gradient(to bottom, rgba(5,4,4, 0.4) 50%, transparent 60%); */
}

.body__albums {
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, rgba(5,4,4, 0.4) 20%, transparent 60%);
  margin-bottom: 10px;
}

.body__albums > h1 {  
  margin-left: 20px;
  margin-bottom: -10px;
}
.body__albumsDisplay {
  /* height: 425px; */
  display: flex;
  overflow-x: scroll;
  margin: 20px;
  /* margin-bottom: 85px; */
  padding: 20px;
}
